.offers {
  display: flex;
  justify-content: space-between;
  margin: 0px 5%;
}

.col {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0% 5%;
}

.offer {
  border: 1px solid #000;
  border-radius: 22px;
  display: flex;
  height: 40vh;
  width: 35vw;
  align-items: center;
  justify-content: space-between;
}

.offername {
  height: 100%;
  display: flex;
  font-size: 3rem;
  color: #545454;
  width: 100%;
  justify-content: center;
  align-items: center;
}

p{
  text-align: justify;
  width: 100%;
  background: var(--lightblue);
  height: 100%;
  align-items: center;
  padding: 1%;
  display: flex;
}